.acf-video-previewer-wrapper{max-width:500px;margin-top:10px;display:none}.acf-video-previewer-wrapper.is-visible{display:-webkit-box;display:-ms-flexbox;display:flex}.acf-video-previewer-wrapper iframe,.acf-video-previewer-wrapper video{border:0;width:100%}


